/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1rem;
  line-height: 1.4;
  
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




/* -------------------- Base Header - Footer Styles -------------------- */



body{

  font-family: 'Open Sans', sans-serif;
  font-size: 1em;

} 


header{

  display:flex;
  justify-content: center;
  background-color: #1F2322;
  
}

header .content-wrapper{

  display: flex;
  justify-content:center;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 20px;

}

.header-divider{

  display: flex;
  justify-content:center;
  border-top: 1px solid #517158;
  width: 90%;
  margin-top: 20px;
 
  
}

header nav{

  width: 60%;
}


header nav ul{

  display:flex;
  justify-content: space-between;
  padding: 0;
 
}

header nav ul li a {

  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.75em;
  color: #fff;
  text-align: center;
  list-style-type: none;
  margin: 0 20px;
 
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #e2e3ed;
}


footer{

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-flow: center;
  text-align: center;
  background-color: #1F2322;
  color: #fff;
  font-size: 1.5em;
}

footer h4{

  font-size: .85em;

}

footer p{

  font-size: .8em;

}
footer address{

  font-style: normal;
  

}
.contact{

  padding-top: 20px;
}
.social{

  padding: 20px 0;
}

.social a{

   padding: 10px;
}

.copyright{

padding-top: 50px;
padding-bottom: 20px;
font-size: .8em;

}

h2 {
  font-family: 'Poppins', sans-serif;
}

h3, 
h4 {
  font-family: 'Poppins', sans-serif;
}



/* -------------------- Mobile Styles - Homepage -------------------- */

/*-------Hero - Area ----- */

.hero-area{

  display:flex;
  justify-content: center;
  background-image: url("../img/unplugged-retreat.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  

}

.hero-area h1{

  font-size: 2.3em;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding: 30px 30px;
  color: #fff;
  line-height: 1.25em;
  width: 70%;

}

/*-------Aside- Area ----- */


aside{

  display:flex;
  justify-content: center; 
  background-color: #517158;
}

aside .content-wrapper{

  margin: 40px 30px;

}

aside .form {
  margin-top: 30px;
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}
aside h3 {

  font-weight: 500;
  color: #fff;
  margin-top: 10px;

}

.form-description p{

  
  color: #fff;
  font-size: .5;
  margin-top: 10px;

}



/*-------Feature- Area ----- */

.feature
{
  display:flex;
  justify-content: center;
  background-image: url("../img/unplugged-retreat-features.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-flow: row wrap;

}
.feature .content-wrapper{

 
  margin: 40px 30px;
  color: #fff;

}

.feature h2{

  font-size: 1.8em;
  font-weight: 500;

}


.features .features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;

}


.feature .features-items article{

  font-size: 1em;
  text-align: center;
  padding: 30px 50px;

  
}


/* Reviews */

.reviews {
  display: flex;
  justify-content: center;
  background-color: #2A423A;
}

.reviews .content-wrapper{

  margin: 40px 30px;
  color: #fff;

}

.reviews h2{

  font-size: 1.8em;
  line-height: 1.2em;

}

.reviews h3{

  font-size: 1em;
  line-height: 1.5em;
  text-align: left;

}

figure{

 margin: 0;
 padding: 0;
}4
article{

margin:0;
padding: 0;
  
}
.reviews p{

  text-align: left;
}

/*----------- About Page ----------------*/



.mission {
  display: flex;
  justify-content: center;
  background-color: #517158;
  color: #fff
}

.mission .content-wrapper{

  margin: 20px

}

.mission p{

  font-size: .9em;

}

.map-container figure{
  width: 100%;
  height: 100%; 
  padding-bottom: 75%; 
  overflow: hidden;
  position: relative;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  position: absolute; 
  top: 0; 
  left: 0; 
}


.mission h2{

  font-size: 1.8em;

}


.contact-us {
  display: flex;
  justify-content: center;
  background-color: #2A423A;
  color:#fff;
}

.contact-us .content-wrapper{

  margin: 20px 40px 30px 30px;

}

.contact-us h4{

  font-size: 1.1em;
  padding: 10px 0;

}

.contact-us address{

  font-style: normal;
  font-size: .9em;
}



/*----------- Faq Page ----------------*/


.faq {
  display: flex;
  justify-content: center;
  background-color: #517158;
  color: #fff
}

.faq .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 20px
}

.faq h2{


  font-size: 2em;

}

.faq h4{

  font-size: 1.1em;

}

.faq-content{

  padding: 25px 0;
}

.faq-content p{

  font-size: .9em;

}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 768px) {
    /*Tablet styles here*/

    header{

      display:flex;
      justify-content: center;
      background-color: #1F2322;
      
    }
    
    header .content-wrapper{
    
      display: flex;
      justify-content:space-between;
      align-items: center;
      flex-flow: row;
      margin: 0 70px;
      flex-grow: 1;
      
    
    }
    
    .header-divider{
    
      display: flex;
      border-top: 0; 
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 20px;
      
    }
    
   
    
    
    header nav ul{
    
      display:flex;
      justify-content: flex-end;
      
     

     
    }
    
    header nav ul li a {
    
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 1.4em;
      color: #fff;
      text-align: left;
      list-style-type: none;
      margin: 0;
      padding-left: 30px;
      
     
    }



  footer{
    text-align: center;
    background-color: #1F2322;
    color: #fff;
    font-size: 1.5em;
  }

  footer .content-wrapper{

    display: flex;
    justify-content: center;
    margin: 60px 0;
    width: 80%

  }

  .footer-contact{

    display: flex;
    flex-flow: row;
    margin-top: 30px;
    justify-content: space-between;
    margin: 0;

  }

  footer h4{

    font-size: .85em;
  
  }

  .contact{
    padding-right: 150px;
    padding-top: 20px;
  }
  .social{

    padding: 20px 0;
    justify-content: right;
  }

  .social a{

    padding: 10px;
  }

  .copyright{

  margin:20px 0;
  padding:0;
  font-size: 1em;

  }

  footer p{

    font-size: .6em;
  
  }
/*-------Hero - Area ----- */

.hero-area{

  display:flex;
  justify-content: center;
  background-image: url("../img/unplugged-retreat.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  

}

.hero-area .content-wrapper{

  margin: 50px 100px 70px 70px;

}

.hero-area h1{

  font-size: 3em;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding: 0;
  color: #fff;
  line-height: 1.25em;
  width: 70%;

}

/*-------Aside- Area ----- */


aside{

  display:flex;
  justify-content: center; 
  background-color: #517158;
}


aside .content-wrapper{


  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 40px 70px;


}

.form-description{

  width: 40%;
}
aside .form {
  margin:0;
  width: 40%;
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

aside h3 {

  font-weight: 500;
  color: #fff;
  margin-top: 10px;

}

.form-description p{

  
  color: #fff;
  font-size: .5;
  margin-top: 10px;

}


/*-------Feature- Area ----- */

.feature
{

  justify-content: center;
  background-image: url("../img/unplugged-retreat-features.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.feature .content-wrapper{

  margin: 120px 70px;
  padding: 0;
  color: #fff;

}

.feature h2{

  font-size: 1.8em;
  font-weight: 500;
  margin: 0;
  padding: 0;

}

.features-items {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  

}


.feature .features-items article{

  font-size: 1em;
  text-align: center;
  width: 180px;
  height: 230px;
  text-align: center;


  
}



/* ------------------Reviews--------------- */
.reviews {
  
  justify-content: flex-start;
  background-color: #2A423A;
}

.reviews .content-wrapper{

  margin: 40px 70px;
  color: #fff;
  display: flex;
  flex-flow: row wrap;

}

.reviews h2{

  font-size: 1.8em;
  line-height: 1.2em;

}

figure{

width: 200%;

}
.reviews h3{

  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0;

}

  .reviews p{
  
    text-align: left;
  }

  .review-content{

    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .review-article{

    margin-left: 20px;
  }



/*----------- About Page ----------------*/



.mission {
  display: flex;
  justify-content: center;
  background-color: #517158;
  color: #fff
}

.mission .content-wrapper{

  margin: 60px 70px;

}

.mission-content{

  display: flex;
  justify-content: space-between;
  flex-basis: 45%;
  gap: 50px;

}

.mission p{

  font-size: .9em;

}


.map-container figure{
  width: 100%;
  height: 100%; 
  padding-bottom: 70%; 
  overflow: hidden;
  position: relative;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  position: absolute; 
  top: 0; 
  left: 0; 
}

.mission h2{

  font-size: 1.8em;

}


.contact-us {
  display: flex;
  justify-content: center;
  background-color: #2A423A;
  color:#fff;

}

.contact-us .content-wrapper{

  margin: 60px 0px;
  width: 80%;


}

.contact-content{

  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
  
}

.contact-us h4{

  font-size: 1.1em;
  padding: 10px 0;

}

.contact-us address{

  font-style: normal;
  font-size: .9em;
}




/*----------- Faq Page ----------------*/


.faq {
  display: flex;
  justify-content: center;
  background-color: #517158;
  color: #fff
}

.faq .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin: 70px 70px;
}

.faq h2{


  font-size: 2em;
  text-align: left;
  width: 100%;
}

.faq h4{

  font-size: 1.1em;

}

.faq-content{

  padding: 25px 0;
  flex-basis: 45%;

  
 
}

.faq-content p{

  font-size: .9em;

}




   
   @media only screen and (min-width: 1200px) {
    /*Desktop styles here*/


    header{

      display:flex;
      justify-content: center;
      background-color: #1F2322;
      
    }
    
    header .content-wrapper{
    
      display: flex;
      justify-content:space-between;
      align-items: center;
      flex-flow: row;
      margin: 0 70px;
      flex-grow: 1;
      max-width: 960px;
      
    
    }
    
    .header-divider{
    
      display: flex;
      border-top: 0; 
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 20px;
      
    }
    
   
    
    
    header nav ul{
    
      display:flex;
      justify-content: flex-end;
      
     

     
    }
    
    header nav ul li a {
    
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 1.4em;
      color: #fff;
      text-align: left;
      list-style-type: none;
      margin: 0;
      padding-left: 30px;
      
     
    }



  footer{
    text-align: center;
    background-color: #1F2322;
    color: #fff;
    font-size: 1.5em;
  }

  footer .content-wrapper{

    display: flex;
    justify-content: space-between;
    margin: 60px 0;
    max-width: 960px;
    

  }

  .footer-contact{

    display: flex;
    flex-flow: row;
    margin-top: 30px;
    justify-content: space-between;
    margin: 0;
    width: 100%;

  }

  footer h4{

    font-size: .85em;
  
  }

  .contact{
    padding-right: 150px;
    padding-top: 20px;
  }
  .social{

    padding: 20px 0;
    justify-content: right;
  }

  .social a{

    padding: 10px;
  }

  .copyright{

  margin:20px 0;
  padding:0;
  font-size: 1em;

  }

  footer p{

    font-size: .6em;
  
  }
/*-------Hero - Area ----- */

.hero-area{

  background-image: url("../img/unplugged-retreat.jpg" alt="Woman standing on her back on the background-image");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;

  
  

}

.hero-area .content-wrapper{

  margin: 60px 0;
  display: flex;
  justify-content: flex-start;
  

}

.hero-area h1{

  font-size: 3em;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  color: #fff;
  line-height: 1.25em;
  text-align: left;
  width: 70%;
  margin: 0;

}

/*-------Aside- Area ----- */


aside{

  display:flex;
  justify-content: center; 
  background-color: #517158;
}


aside .content-wrapper{


  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 40px 180px;
  max-width: 960px;


}

.form-description{

  width: 40%;
}

aside .form {
  margin: 0;
  width: 40%;
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

aside h3 {

  font-weight: 500;
  color: #fff;
  margin-top: 10px;
  font-size: 1.8em;

}

.form-description p{

  
  color: #fff;
  font-size: .5;
  margin-top: 10px;

}


/*-------Feature- Area ----- */

.feature
{

  justify-content: center;
  background-image: url("../img/unplugged-retreat-features.jpg" alt="Group of people outside having a picnic");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.feature .content-wrapper{

  margin: 120px 100px;
  padding: 0;
  color: #fff;
  max-width: 960px;

}

.feature h2{

  font-size: 1.8em;
  font-weight: 500;
  margin: 0;
  padding: 0;

}

.features-items {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  

}


.feature .features-items article{

  font-size: 1em;
  text-align: center;
  width: 180px;
  height: 230px;
  text-align: center;


  
}



/* ------------------Reviews--------------- */
.reviews {
  
  justify-content: center;
  background-color: #2A423A;
}

.reviews .content-wrapper{

  margin: 40px 80px;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  max-width: 960px;

}

.reviews h2{

  font-size: 1.8em;
  line-height: 1.2em;

}

figure{

width: 200%;

}
.reviews h3{

  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0;

}

  .reviews p{
  
    text-align: left;
  }

  .review-content{

    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .review-article{

    margin-left: 0 40px;
  }



/*----------- About Page ----------------*/



.mission {
  display: flex;
  justify-content: center;
  background-color: #517158;
  color: #fff
}

.mission .content-wrapper{

  margin: 60px 70px;
  max-width: 960px;

}

.mission-content{

  display: flex;
  justify-content: space-between;
  flex-basis: 45%;
  gap: 50px;

}

.mission p{

  font-size: .9em;

}

.map-container figure{
  width: 100%;
  height: 100%; 
  padding-bottom: 45%; 
  overflow: hidden;
  position: relative;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  position: absolute; 
  top: 0; 
  left: 0; 
}

.mission h2{

  font-size: 1.8em;

}


.contact-us {
  display: flex;
  justify-content: center;
  background-color: #2A423A;
  color:#fff;

}

.contact-us .content-wrapper{

  margin: 60px 0px;
  width: 80%;
  max-width: 960px;


}

.contact-content{

  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
  
}

.contact-us h4{

  font-size: 1.1em;
  padding: 10px 0;

}

.contact-us address{

  font-style: normal;
  font-size: .9em;
}




/*----------- Faq Page ----------------*/


.faq {
  display: flex;
  justify-content: center;
  background-color: #517158;
  color: #fff
}

.faq .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin: 70px 70px;
  max-width: 960px;
}

.faq h2{


  font-size: 2em;
  text-align: left;
  width: 100%;

}

.faq h4{

  font-size: 1.1em;

}

.faq-content{

  padding: 25px 0;
  flex-basis: 45%;

  
 
}

.faq-content p{

  font-size: .9em;

}



  }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

